@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #ff9cbd;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.oculto {
    display: none !important;
}

#btn-comenzar {
    padding: 15px 30px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    color: #5c4033;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.tarjeta {
    width: 95vw;
    max-width: 850px;
    height: 90vh;
    max-height: 550px;
    background-color: #faf0e6;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#lienzoAnimacion { z-index: 1; }
#lienzoParticulas { z-index: 2; pointer-events: none; }

.textos {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 45%;
    max-width: 400px;
    z-index: 3;
    color: #5c4033;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.4rem;
    margin: 0 0 15px 0;
}

#mensaje {
    font-size: 0.95rem;
    line-height: 1.6;
    margin: 0;
}

.tiempo-container {
    margin-top: 30px; 
    width: 100%;
    color: #5c4033;
}

.tiempo-container p {
    margin: 0;
    font-size: 0.9rem;
}

#cronometro {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 5px;
}

.suelo {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 4px;
    background-color: #5c4033;
    z-index: 1;
}

/* ADAPTACIÓN ESTRICTA PARA CELULARES */
@media (max-width: 600px) {
    .tarjeta {
        height: 95vh; /* Usa casi toda la pantalla */
    }
    .textos {
        width: 90%;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 0;
    }
    h2 {
        font-size: 1.2rem;
        margin: 0 0 5px 0;
    }
    #mensaje {
        font-size: 0.8rem; /* Letra más chica para ahorrar espacio */
        line-height: 1.4;
    }
    .tiempo-container {
        margin-top: 10px;
    }
    .tiempo-container p {
        font-size: 0.8rem;
    }
    #cronometro {
        font-size: 1rem;
        margin-top: 2px;
    }
    .suelo {
        bottom: 30px; /* Baja la línea del suelo */
    }
}